*.[ao]
*.gcda
*.gcno
*.gcov
*.prl
*.pro.user*
*.so
*.moc
build-stamp*
moc_*.cpp

.moc
.obj
src/telepathysupport/libcontactstelepathysupport.so.1*
src/contactsd
Makefile
Makefile.*
core
.project
.cproject
/benchmarks/bm_contactsd_batchsaving
/build*
/configure-stamp
/debian/*.debhelper*
/debian/*.substvars
/debian/files
/debian/tmp/
.*.sw?
*~

