.qmake.cache
*.[ao]
*.gcda
*.gcno
*.gcov
*.prl
*.pro.user*
*.so
*.moc
build-stamp*
moc_*.cpp
src/contactsd
Makefile
Makefile.*
contactsd-1.0.pc
core
.project
.cproject
build*
configure-stamp
debian/*.debhelper*
debian/*.substvars
debian/files
debian/tmp/
tests/dbus-1/session.conf
.*.sw?
*~

debian/contactsd-dbg
debian/contactsd-dev
debian/contactsd-plugin-birthday
debian/contactsd-tests
debian/contactsd

plugins/garbage-collector/garbagecollectoradaptor.cpp
plugins/garbage-collector/garbagecollectoradaptor.h
plugins/telepathy/buddymanagementadaptor.cpp
plugins/telepathy/buddymanagementadaptor.h

tests/tests.xml
tests/mktests.sh
tests/ut_birthdayplugin/check-ut_birthdayplugin-wrapper.sh
tests/ut_birthdayplugin/check-with-daemon.sh
tests/ut_birthdayplugin/ut_birthdayplugin
tests/ut_birthdayplugin/ut_birthdayplugin-wrapper.sh
tests/ut_birthdayplugin/with-daemon.sh
tests/ut_contactsd/ut_contactsd
tests/ut_telepathyplugin/buddymanagementinterface.cpp
tests/ut_telepathyplugin/buddymanagementinterface.h
tests/ut_telepathyplugin/com.nokia.contacts.buddymanagement.xml
tests/ut_telepathyplugin/check-ut_telepathyplugin-wrapper.sh
tests/ut_telepathyplugin/check-with-daemon.sh
tests/ut_telepathyplugin/ut_telepathyplugin
tests/ut_telepathyplugin/ut_telepathyplugin-wrapper.sh
tests/ut_telepathyplugin/with-daemon.sh

src/contactsimportprogressadaptor.cpp
src/contactsimportprogressadaptor.h
