.qmake.cache
*.[ao]
*.gcda
*.gcno
*.gcov
*.prl
*.pro.user*
*.so
*.moc
build-stamp*
moc_*.cpp
src/contactsd
Makefile
Makefile.*
contactsd-1.0.pc
core
.project
.cproject
build*
configure-stamp
debian/*.debhelper*
debian/*.substvars
debian/files
debian/tmp/
tests/dbus-1/session.conf
.*.sw?
*~

tests/dbus-1/session.conf
tests/contactsd/test-contactsd
tests/telepathyplugin/test-telepathy-plugin

