Source: contactsd
Priority: extra
Section: comm
Maintainer: Xavier Claessens <xavier.claessens@collabora.co.uk>
Build-Depends: debhelper (>= 7.2.3),
               doxygen,
               aegis-builder,
               libqt4-dev,
               libtelepathy-qt4-1-dev (>= 0.5.10),
               libqtsparql-dev (>= 0.0.11),
               libtelepathy-glib-dev (>= 0.13.7),
               libqtm-contacts-dev,
               libqtcontacts-extensions-tracker-dev (>= 4.13.8),
               libcubi-0.1-dev (>= 0.1.7)
Standards-Version: 3.8.1

Package: contactsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: telepathy-gabble (>= 0.8.8),
            libqtcontacts-tracker,
            osso-mission-control,
            tracker
Suggests: account-plugin-google,
          account-plugin-facebook,
          account-plugin-skype
Conflicts: libqtcontacts-tracker (<< 4.12.4),
           contacts (<= 0.6.26),
           tracker (< 0.10.6)
Description: Contacts daemon - Observing telepathy and storing to tracker

Package: contactsd-dbg
Architecture: any
Section: libdevel
Depends: contactsd (=${binary:Version})
         ${misc:Depends}
Description: Debug symbols for Contacts daemon.

Package: contactsd-dev
Architecture: any
Section: libdevel
Depends: contactsd (= ${binary:Version}),
         libqt4-dev,
         pkg-config (>= 0.21),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Development headers for Contacts daemon plugins.

Package: contactsd-tests
Section: libdevel
Architecture: any
Depends: ci-testing,
         contactsd (=${binary:Version}),
         tracker,
         libmcclient6,
         ${shlibs:Depends},
         ${misc:Depends}
XB-Maemo-CI-Packages: libqtcontacts-tracker, contactsd, tracker
XB-Maemo-CI-Stage: fast, staging, acceptance
Description: Contactsd plugin (unit tests)
 Contacts daemon - Observing telepathy and storing to tracker.
 .
 This package contains unit tests for contactsd.
