#!/usr/bin/make -f

export DH_VERBOSE=1

PREFIX=/usr

%:
	dh $@ --parallel

override_dh_auto_configure:
	./configure --prefix $(PREFIX) --bindir $(PREFIX)/bin --libdir $(PREFIX)/lib \
		--includedir $(PREFIX)/include --localstatedir /var

# Work-around for some machines where INSTALL_ROOT is not set properly by
# dh_auto_install
override_dh_auto_install:
	dh_auto_install -- INSTALL_ROOT=$(CURDIR)/debian/tmp

# Workaround a bug in that debhelper package version
override_dh_install:
	dh_install --sourcedir=debian/tmp

override_dh_strip:
	dh_strip --dbg-package="contactsd-dbg"

# Add aegis manifest
override_dh_builddeb:
	dh_builddeb
	aegis-deb-add -control debian/contactsd/DEBIAN/control .. debian/contactsd.aegis=_aegis
	aegis-deb-add -control debian/contactsd-tests/DEBIAN/control .. debian/contactsd-tests.aegis=_aegis

override_dh_auto_test:

# Disable unused debhelper
override_dh_pysupport override_dh_installinit override_dh_installinit override_dh_installmenu:
override_dh_installmime override_dh_installmodules override_dh_installlogcheck:
override_dh_installlogrotate override_dh_installpam override_dh_installudev:
override_dh_installwm override_dh_installxfonts override_dh_gconf:
override_dh_icons override_dh_perl override_dh_usrlocal override_dh_bugfiles:
override_dh_installppp override_dh_installexamples override_dh_installman:
override_dh_installcatalogs override_dh_installcron override_dh_installdebconf:
override_dh_installemacsen override_dh_installifupdown override_dh_installinfo:

