#!/usr/bin/make -f

export DH_VERBOSE=1

PREFIX=/usr

%:
	dh $@

override_dh_auto_configure:
	./configure --prefix $(PREFIX) --bindir $(PREFIX)/bin --libdir $(PREFIX)/lib \
		--includedir $(PREFIX)/include --localstatedir /var

# Work-around for some machines where INSTALL_ROOT is not set properly by
# dh_auto_install
override_dh_auto_install:
	dh_auto_install -- INSTALL_ROOT=$(CURDIR)/debian/tmp

# Workaround a bug in that debhelper package version
override_dh_install:
	dh_install --sourcedir=debian/tmp

override_dh_strip:
	dh_strip --dbg-package="contactsd-dbg"

# Add aegis manifest
override_dh_builddeb:
	dh_builddeb
	aegis-deb-add -control debian/contactsd/DEBIAN/control .. debian/contactsd.aegis=_aegis
	aegis-deb-add -control debian/contactsd-tests/DEBIAN/control .. debian/contactsd-tests.aegis=_aegis

override_dh_auto_test:

